@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .w-wrapper {
    max-width: 1441px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

body {
  margin: 1rem;
  display: block;
  position: relative;

  border-radius: 50px;

  
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

body::before{
  top: 0;
}

body::after{
  bottom: 0;
}

body:after, body:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  background: #fff;
  z-index: 20000;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px; /* Adjust border width as needed */
  height: 8px; /* Adjust border height as needed */
  background-color: #fff; /* Adjust border color as needed */
  border-radius: 50%;
  z-index: 1;
}